<h1 class="title is-5" style="margin-left: 25px; margin-top: 25px;">Edit Todo</h1>

<div mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input 
                    type="text" 
                    #todoTextField="ngModel"
                    required minlength="2" 
                    class="input" 
                    [ngModel]="todo.text" 
                    name="text" 
                    placeholder="Type the text here.."
                >
            </div>
        </div>

        <div *ngIf="todoTextField.invalid">
            <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">Please enter the text of your todo.</p>
            <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">Min length of todo should be 2.</p>
        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
            <div class="control">
                <button type="submit" class="button alt-gradient-button">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </div>
        </div>

    </form>

</div>